div{
    width: 200px;
    height:200px;
}
.yellow{
    background-color: yellow;
}
#blue{
    background-color:blue;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

}